*.framework filter=lfs diff=lfs merge=lfs -text
Assets/AudioKit.framework/Modules filter=lfs diff=lfs merge=lfs -text
Assets/AudioKit.framework/_CodeSignature filter=lfs diff=lfs merge=lfs -text
Assets/AudioKit.framework/AudioKit filter=lfs diff=lfs merge=lfs -text
Assets/AudioKit.framework/Headers filter=lfs diff=lfs merge=lfs -text
Assets/AudioKit.framework/Info.plist filter=lfs diff=lfs merge=lfs -text
